.pagination {
  .pagination-pages {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;

    > * {
      margin: 2px;
    }

    span {
      line-height: 1;
      padding: 0 15px 15px 12px;
    }
  }
}
