.notification-container {
  display: block;
  pointer-events: none;
  position: fixed;
  z-index: 2;
  right: 20px;
  top: 20px;
  width: 320px;
  overflow: auto;
  opacity: 0;
  transition: ease all 0.3s;

  &.opened {
    pointer-events: all;
    display: block;
    opacity: 1;
  }

  .notification-content {
    background-color: #abb2e1;
    color: white;
    padding: 20px;
    width: 80%;
    border-radius: 3px;
  }

  .close {
    color: white;
    float: right;
    font-size: 12px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    text-decoration: none;
    cursor: pointer;
  }
}
